<app-nav-bar-login></app-nav-bar-login>

<section>


    <div class="carta-perfil">


            <img src="img/perfil-de-usuario.webp" alt="">


        <div class="info-general">



            <div class="info-personal">

                <p class="info-txt">Nombre:</p>
                <p class="info-llamada">{{userComun.nombreUsuario}}</p>
            </div>

           <div class="info-personal">
            <p class="info-txt">Email:</p>
            <p class="info-llamada">{{userComun.email}}</p>
           </div>

           <div class="info-personal">

            <button class="btn" [routerLink]="['/mis-listas']" >Mis recetarios</button>


            <button class="btn" [routerLink]="['/edit-perfil', userACT.id]" >Editar perfil</button> 
           </div>

        </div>

    </div>
</section>

<app-footer></app-footer>
