<app-nav-bar-login></app-nav-bar-login>
<div class="contenedor-section">
    <section>
        <div class="cont-p">
            <p>No sabes que comer?Aca te dejamos 5 recetas para que pruebes</p>
        </div>
    
        <button (click)="obtenerRecetasRandom()" > activarRecetas </button>
    
        <div class="cont-recetas">
            @for (item of listaRecetas; track $index) {
    
                <app-receta-card [receta]="item" (verDetalles)="navigateToDetails($event)"> </app-receta-card>
            
            }
        </div>
    </section>
</div>

<app-footer></app-footer>