
.navegacion {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 0 20px; 
  height: 60px;
  background-color: rgba(247, 207, 121, 0.596);
  border-bottom: 1px solid rgba(0, 0, 0, 0.192);
}


.logo-container {
  display: flex;
  align-items: center;
}


.menu-option {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.logo-image {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.menu {
  display: flex;
  gap: 15px; 
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center
}


.menu li a, .menu li button {
  padding: 10px 20px;
  background-color: #e09422;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Montserrat', sans-serif;
}


.menu li a:hover, .menu li button:hover {
  background-color: #e2a731;
}
