<app-navbar></app-navbar>
    <main>
        <div class="carta-pag">
         <p>¿Necesitas un recetario de comidas?<br>
             Llegaste a la pagina correcta, tenemos una cantidad gigante
             de recetas para darte solo con lo que tengas en casa. <br>
             Registrate totalmente gratis!!
             
         </p>
        
        </div>
    
        <div class="cont-img">
            <img src="/img/imagenLogo.jpeg" alt="Logo">
        </div>
     
     </main>
     
     <section>
        <div class="titulo-section">
            <h4>¿Quienes somos?</h4>
        </div>

         <div class="sobre-nosotros">    
             <p>Somos un grupo de desarrolladores de aplicaciones web, apasionados por la tecnologia tratando de mejorar tu alimentacion con una simple APP <br>   
             </p>
            </div>

     </section>
    
    
     <footer>
        <div class="info1">
            <p id="titulo-redes">Redes</p>
            <ul>
                
                <li>
                    <a href="" target="_blank">GitHub</a>
                </li>
                <li>
                    <a href="" target="_blank">Instagram</a>
                </li>
                <li>
                    <a href="" target="_blank">Facebook</a>
                </li>
            </ul>
        </div>
    
        <div class="info2">
            <h4 class="derechos">Todos los derechos reservados</h4>
        </div>
       
    </footer>
    
    


