<app-nav-bar-login></app-nav-bar-login>

<section>
  <div class="info-receta">

    <p class="nombre-lista">{{lista?.nombre}}</p>
    <h3 class="titulo">Recetas</h3>
    <ul>
      @for (item of recetasarreglo; track $index) {
        <div class="cont-recetas">
          <app-receta-card [receta]="item" (verDetalles)="navigateToDetails($event)"> </app-receta-card>
          <div class="botones">
            <button class="btn"  (click)="deleteRecipe(item.id)">Eliminar</button>
          <button  class="btn">Modificar</button>
          </div>
        </div>
       
        
      }
    </ul>
   
  </div>
</section>

<app-footer></app-footer>