<app-nav-bar-login></app-nav-bar-login>

<section>
  <div class="info-receta">

    <p class="nombre-lista">{{lista?.nombre}}</p>
    <h3 class="titulo">Recetas</h3>
    <ul>
     
       
          <div class="botones">
         
            @for (receta of recetasarreglo; track receta.id) {
              <app-delete-update-output
            [receta]="receta"
            [listaId]="lista?.id ?? 0"
            (delete)="deleterecipe22($event)"
            (update)="Onupdate($event)"
            (detalles)="navigateToDetails($event)">  
          </app-delete-update-output>
            }
        
          </div>
        
      
    </ul>
   
  </div>
</section>

<app-footer></app-footer>