footer {
  margin-top: auto;
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: #f7cf79;
  color: #555;
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
min-height: 100vh;
}
.titulo{
  font-size: 45px;
  margin-top: 10px;
  font-weight: 600;
  font-family: 'Monserrat', sans-serif;
  color: #7e654e;
  margin-bottom: 10px;
}
.info-receta{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(241, 232, 232, 0.5);
  margin-top: 5px;
  border-radius: 5px;
  padding: 15px;
  color:  #7e654e;
}
.nombre-lista{
  font-size: 30px;
  font-weight: 600;
  font-family: 'Montserrat';
  margin-top: 10px;
  color:  #7e654e;
}

.botones{
  display: flex;
  flex-direction: column;
}
.cont-recetas{
  display: flex;
  flex-direction: row;
  align-items: center;

}
