<app-navbar></app-navbar>
<h1 class="titulo">Bon APPetit</h1>


<section class="section-form">

    <div class="contenedor-img">
       <img src="/img/imagenLogo.jpeg" alt="Logo">
    </div>

    <form [formGroup]="form" (ngSubmit)="onLogin()">
        <fieldset>
            <legend>Inicio de sesión</legend>
            <section>
                <label for="username">Nombre de Usuario</label>
                <input type="text" id="username" autocomplete="username" formControlName="username">
            </section>
            <section>
                <label for="password">Contraseña</label>
                <input #password type="password" id="password" formControlName="password">
                <button type="button" (click)="onRevealPassword(password)">Ojito</button>
            </section>
            <button type="submit" [disabled]="form.invalid">Iniciar sesión</button>
        </fieldset>
    </form>
    
    <!-- 
    <form id="formulario" [formGroup]="formulario" (ngSubmit)="ingresar()">
        
            
            <section class="contenedor-datos">
                
                <div class="div-input">
                    <label for="" class="ingresar-datos">Ingrese el nombre de usuario</label>
                    <input type="text" formControlName="nombreUsuario">
                </div>
                    @if (formulario.controls['nombreUsuario'].getError('required')) {
                        <span class="requerido">*Campo requerido</span>
                    }
        
            </section>
        
            <section class="contenedor-datos">
        
                <div class="div-input">
                    <label for="" class="ingresar-datos">Ingrese la contraseña</label>
                    <input type="password" formControlName="contrasena">
                </div>
                    @if (formulario.controls['contrasena'].getError('required')) {
                        <span class="requerido">*Campo requerido</span>
                    }
            </section>
       
            <button class="btn" type="submit">Ingresar</button>
    </form>
    -->

    
</section>

<footer>
    <div class="info1">
        <p id="titulo-redes">Redes</p>
        <ul>
            
            <li>
                <a href="" target="_blank">GitHub</a>
            </li>
            <li>
                <a href="" target="_blank">Instagram</a>
            </li>
            <li>
                <a href="" target="_blank">Facebook</a>
            </li>
        </ul>
    </div>

    <div class="info2">
        <h4 class="derechos">Todos los derechos reservados</h4>
    </div>
   
</footer>


