

<div class="buscador-container">
  <app-nav-bar-login></app-nav-bar-login>

    <form [formGroup]="formulario" (ngSubmit)="setIngredientes()" class="form-busqueda">

      <input type="text" name="ingredientes" id="ingredientes" formControlName="ingredientes" placeholder="Escribe ingredientes...">

      <button type="submit" class="btn">Buscar recetas</button>
    </form>

    <div>
      @for (item of listaRecetas; track $index) {
      <div>
        <app-receta-card *ngFor="let receta of listaRecetas"
        [receta]="receta"
        (verDetalles)="navigateToDetails($event)">

        </app-receta-card>
      </div>
    
      }

    </div>

    <app-footer></app-footer>


  </div>






