

<div class="buscador-container">
  <app-nav-bar-login></app-nav-bar-login>

  <section>
    <form [formGroup]="formulario" (ngSubmit)="setIngredientes()" class="form-busqueda">
      <h2>Buscador de recetas</h2>

      <input type="text" name="ingredientes" id="ingredientes" formControlName="ingredientes" placeholder="Escribe ingredientes...">

      <button type="submit" class="btn">Buscar </button>
    </form>

    <div class="cont-recetas">
      @for (item of listaRecetas; track $index) {
      <div>
        <app-receta-card 
        [receta]="item"
        (verDetalles)="navigateToDetails($event)">

        </app-receta-card>
      </div>

      }

    </div>
  </section>
    

   


  </div>
  <app-footer></app-footer>






