<app-nav-bar-login></app-nav-bar-login>
<section>

  <div *ngIf="recipe" class="recipe-container">

    <h2 class="recipe-title">{{ recipe.title }}</h2>

    <div class="cont-img">
      <img [src]="recipe.image" alt="Imagen de {{ recipe.title }}" class="recipe-image" />
    </div>


    <!-- Información General -->
    <div class="recipe-info">
      <p><strong>Tiempo de preparación:</strong> {{ recipe.readyInMinutes }} minutos</p>
      <p><strong>Calificación:</strong> {{ recipe.spoonacularScore.toFixed(2) }} / 100</p>
    </div>

    <!-- Ingredientes -->
     <div class="cont-ingredientes">

      <h3>Ingredientes</h3>
      <div class="info-ingredientes">
        <ul class="ingredient-list">
          <li *ngFor="let ingredient of recipe.extendedIngredients">
            {{ ingredient.amount.toFixed(1) }}
            {{ingredient.name}}
             {{ingredient.unit}}

          </li>
        </ul>
      </div>

     </div>


    <!-- Instrucciones -->

    <div class="cont-instrucciones">
      <h3>Instrucciones</h3>
      <ol>
        <li *ngFor="let step of getInstructions()">
          {{ step }}</li>
      </ol>
    </div>



  </div>

  <button class="add-to-list-btn">Agregar a mi lista</button>
</section>


  <app-footer></app-footer>
